// creo un file scss per gestire alcuni stili che specifici che non posso controllare direttamente in HTML con Bootstrap
nav {
  img {
    height: 35px;
  }
}

.custom-dropdown {
  transform: translate(-60px);
  @media screen and (min-width: 992px) {
    transform: translate(-100px);
  }
}

footer {
  font-size: 0.8rem;
  button p {
  }
}
